*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #333;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: #333;
}