*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: linear-gradient(to bottom right, rgb(18, 49, 83), rgb(10, 40, 58));
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #333;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: #333;
}

.App {
  margin-top: 20px;
}

.App .heading {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 2rem;
}