.TaskList {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(221, 221, 221);
  padding: 20px;
  box-shadow: 2px 2px 3px rgba(59, 59, 59, 0.7), 0 0 2px rgba(58, 58, 58, 0.8);
}

.TaskList .Task {
  margin-bottom: 20px;
}

.TaskList .button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.TaskList button {
  border: none;
  display: inline-block;
  padding: 1em 2em;
  color: rgba(255, 255, 255, 0.9);
  background: rgb(0, 56, 78);
  cursor: pointer;
}

.TaskList button:hover {
  background-color: hsl(197, 100%, 20%);
}

@media screen and (max-width: 620px) {
  .TaskList .button-container {
    flex-direction: column;
  }

  .TaskList button {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 15px 0;
  }
}