.TaskList {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(221, 221, 221);
  padding: 20px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7), -1px -1px 0 rgba(0, 0, 0, 0.7);
}

.TaskList .Task {
  margin-bottom: 20px;
}

.TaskList .button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.TaskList button {
  border: none;
  display: inline-block;
  padding: 1em 2em;
  color: rgba(255, 255, 255, 0.9);
  background: rgb(0, 56, 78);
  cursor: pointer;
}

.TaskList button:hover {
  background-color: hsl(197, 100%, 20%);
}

@media screen and (max-width: 520px) {
  .TaskList .button-container {
    flex-direction: column;
  }

  .TaskList button {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 15px 0;
  }
}